@charset "utf-8";
// ============================================================
// カラー設定
// ============================================================

/*----------------------------------------
	color
----------------------------------------*/

$cBase1:#190407;
$cBase2:#36090f;
$cBase3:#E60011;
$cBase4:#FABD00;
$cBase5:#EB6B00;
$cBase6:#009841;
