// ============================================================
// MediaQuery Width
// ============================================================

$width-pc: 1100px;
$width-tablet1: 980px;
$width-tablet2: 768px;
$width-smartphone1: 480px;
$width-smartphone2: 320px;
$width-scrollbar: 20px;
