@charset "utf-8";

/*----------------------------------------
	sharedprivacy
----------------------------------------*/
.contentsSharedprivacy {
	.secArea {
		margin: 100px 0;
		
		@include tablet2 {
			margin: 70px 0;
		} //tablet2
		
		@include sp {
			margin: 50px 0;
		} //sp
	}
	
	.hlSecTitle {
		margin-bottom: 0;
		text-align: left;
		
		&:before {
			display: none;
		}
	}
}

.sharedprivacyList {
	padding: 0;
	counter-reset: item1;
	
	> li {
		padding-left: 24px;
		list-style: none;
		position: relative;
		
		&:before {
			margin-right: 5px;
			counter-increment: item1;
			content: '('counter(item1)')';
			position: absolute;
			top: 0;
			left: 0;
		}
		
		ol {
			margin: 15px 0;
			padding-left: 0;
			counter-reset: item2;
			
			> li {
				padding-left: 24px;
				list-style: none;
				position: relative;

				&:before {
					margin-right: 5px;
					width: 13px;
					height: 13px;
					@include display-flex;
					@include justify-content(center);
					@include align-items(center);
					@include border-radius(50%);
					border: 1px solid $textColor;
					@include background-size(cover);
					counter-increment: item2;
					content: counter(item2);
					position: absolute;
					top: 5px;
					left: 0;
					@include fs(11);
				}
			}
		}
	}
}
