@charset "utf-8";

// ----------------------------------------------------------------------
// ellipsis 文字数末尾に「...」
// ----------------------------------------------------------------------

@mixin ellipsis($textsize) {
	width:$textsize;
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow:ellipsis;
}


