@charset "utf-8";

// ============================================================
// letter spacing style
// ============================================================

$i: 1;

@while $i <= 9 {
	// plus spacing
	.lts#{$i}{
		letter-spacing: #{$i}em;
	}
	// minus spacing
	.ltsm#{$i}{
		letter-spacing: -#{$i}em;
	}

	//小数点 0.n
	$j: $i * 0.1;
	// plus spacing
	.lts0#{$i}{
		letter-spacing: #{$j}em;
	}
	// minus spacing
	.ltsm0#{$i}{
		letter-spacing: -#{$j}em;
	}

	//小数点 0.0n
	$k: $i * 0.01;
	// plus spacing
	.lts00#{$i}{
		letter-spacing: #{$k}em;
	}
	// minus spacing
	.ltsm00#{$i}{
		letter-spacing: -#{$k}em;
	}

	$i: $i+1
}